body {
	background-color: #141414;
	font-family: "Inter", sans-serif;
}

div {
	background-color: #1f1f1f;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 520px;
	padding: 20px 10px;
	margin-left: 40%;
	margin-top: 10%;
	border-radius: 15px;

	
}

img {
	border-radius: 50%;
	width: 30%;

}

h1 {
	color: white;
	margin: 30px;
	font-size: 24px;
	margin-bottom: 0px;
}

h2 {
	color: #90b416;
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 18px;
}

p {
	color: white;
	font-size: 14px;
	margin-bottom: 20px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 250px;
}

a {
	text-decoration: none;
	background-color: #333333;
	height: 50px;
	width: 330px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	color: white;
}

a:hover {
	background-color: white;
	color: #333333;
}